.header {
  max-height: 50px;
  padding: 43px 11.875rem 0px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  display: none;
  cursor: pointer;
  margin-left: 50px;
}

.header__menu img {
  width: 40px;
}

.header__essentials {
  display: flex;
  align-items: center;
}

.header__nav ul {
  display: flex;
}

.header__nav-item {
  margin-right: 34px;
  font-weight: 400;
  line-height: 19px;
}

.chosen-link {
  font-weight: 500;
  color: #202336;
}

.header__btn-login {
  font-weight: 500;
  font-size: 0.9375rem;
  color: #FB8F1D;
  background-color: #fff;
  margin-right: 18px;
}

.header__btn-register {
  font-weight: 500;
  font-size: 0.9375rem;
}

@media screen and (min-width: 2100px) {
  .header {
    padding: 43px 8rem 0;
  }
}

@media screen and (max-width: 1400px) {
  .header {
    padding: 43px 7rem 0;
  }

  .header__menu {
    display: flex;
  }

  #nav-links {
    height: 500px;
  }

  .header__essentials {
    background: #008b54;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: absolute;
    padding-top: 30px;
    top: 100px;
    left: 0;
    right: 0;
    margin-top: 0;
    clip-path: circle(0 at top right);
    transition: clip-path 1s ease-in;
  }

  .header__essentials.open {
    clip-path: circle(450px at top right);
  }

  .header__essentials-buttons {
    display: flex;
    flex-direction: column;
  }

  .header__btn-login, .header__btn-register {
    margin: 40px 20px;
  }

  .header__nav ul {
    flex-direction: column;
  }

  .header__nav-item {
    padding: 20px 0;
    margin: 0 10px;
  }
}

@media screen and (max-width: 400px) {
  .header {
    padding: 43px 4rem 0px;
  }
  .header__essentials.open {
    clip-path: circle(400px at top right);
  }
}
