.hero__container {
  background: url(../images/header/header.svg) no-repeat 90% center;
  padding: 0 11.875rem 222px;
  animation: floating-up 10s linear infinite;
}

.hero__container hr {
  width: 32px;
  border: 2px solid #202336;
  border-radius: 4px;
}

.selector {
  display: flex;
  margin: 0;
  padding: 0;
}

.selector select {
  width: 13.75rem;
  height: 3.25rem;
  border: 0.8px solid #AFB0B9;
  border-radius: 6px;
  padding: 0 31px;
  font-weight: 400;
  font-size: 0.9375rem;
  color: #4A4C53;
  margin-right: 30px;
  font-family: inherit;
  margin-top: 3rem;
}

.hero__btn-explore {
  margin-top: 51px;
  width: 11.25rem;
  height: 3.25rem;
  font-weight: 700;
  font-size: 1.0625rem;
  font-family: "Mulish";
}

@media screen and (min-width: 2100px) {
  .hero__container {
    padding: 0 8rem 222px;
    background-position: right center;
    background-size: 60% 70%;
  }
}

@media screen and (max-width: 1400px) {
  .hero__container {
    padding: 0 7rem 222px;
  }
}

@media screen and (max-width: 800px) {
 .hero__container {
   padding: 0 7rem 3rem;
   background: white;
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 .hero__container hr {
   width: 100%;
 }

 .selector {
   flex-direction: column;
 }

 .selector select {
   margin-right: 0;
 }
}
