.destination__container {
  padding: 10rem 15rem;
}

.destination__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}

.destination__header h2{
  text-align: left;
}

.destination__header__btn-view-all {
  border: none;
  background: inherit;
  color: #FB8F1D;
  font-weight: 600;
  font-size: 1.0625rem;
  width: 5.625rem;
  height: 1.0625rem;
}

section.destination__container ul{
  display: flex;
  justify-content: center;
  padding: 0;
}

.destination__row {
  display: flex;
}

.destination-item {
  position: relative;
}

figcaption {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  bottom: 10px;
  left: 4px;
}

.destination-item__upper-caption {
  font-weight: 600;
  font-size: 1.0625rem;
  color: #042521;
}

.destination-item__lower-caption {
  font-size: 0.9375rem;
  color: #80918E;
}


@media screen and (min-width: 2100px) {
  .destination__container {
    padding: 10rem 8rem;
  }

  .destination-item img{
    width: 410px;
  }
}

@media screen and (max-width: 1400px) {
  .destination__container {
    padding: 10rem 6rem;
  }

  .destination__row {
    display: block;
  }

  .destination__header__btn-view-all {
    width: 6rem;
  }

  .destination-item__upper-caption {
    font-size: 1rem;
  }

  .destination-item__lower-caption {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 700px) {
  section.destination__container {
    padding: 3rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  section.destination__container ul {
    flex-direction: column;
    justify-content: center;
  }

  .destination__row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .destination-item img{
    width: 320px;
  }

  .destination__header__btn-view-all {
    width: 30%;
  }

  .destination-item__upper-caption {
    font-size: 1.2rem;
  }

  .destination-item__lower-caption {
    font-size: 1.0rem;
  }
}

@media screen and (max-width: 500px) {
  .destination-item img{
    width: 280px;
  }
}
